# Auto detect text files and perform LF normalization
* text eol=Auto

# Set default behavior for certain file types
*.c     text
*.h     text
*.cpp   text
*.hpp   text
*.cs    text
*.java  text
*.py    text
*.js    text
*.html  text
*.css   text
*.json  text
*.xml   text
*.md    text
.gitignore text eol=crlf
*.yml   text
*.yaml  text
*.sh    text eol=lf
*.command text eol=lf
*.bat   text eol=crlf
*.ps1   text eol=crlf
*.sql   text

# Handle binary files
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.pdf   binary
*.zip   binary
*.tar   binary
*.gz    binary
*.rar   binary
